{% extends 'base.html' %} {% load static %}{% block title %} Messages{% endblock title %} {% block body %}
<style>
    .centerpro {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
</style>
<div class="container mb-5">
    {% if feedback %} {% for feed in feedback %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative" style="background-color: violet;">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary mb-3">Suggestion  by <span style="text-decoration:none;color:red;">You</span></strong>
            <div class="my-2">
                {{feed.content|safe}}
            </div>
            <div class="mb-2 text-muted">Posted on: <span style="color: seagreen;">{{feed.timeStamp}}</span></div>
        </div>
    </div> {% endfor %} {% else %}
    <h3 class="text-center mt-5 mb-5"><a style="text-decoration:none;color:red;" href="/contact">Contact us</a></h3>
    {% endif %}
</div>
{% endblock %}