{% extends 'base.html' %}{% load static %} {% block title %} Create a Blog {% endblock title %} {% block js %}
<style>
    .centerpro {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
</style>
<script>
    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>

{% endblock js %} {% block blogactive %} active {% endblock blogactive %} {% block body %}

<div class="container mt-5">
    <div class="jumbotron my-3">
        <form action="" method="post">{% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="title" required>
            </div>

            <div class="form-group">
                <textarea style="height:300px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;" placeholder="write something(this is simple blog u can insert images,tables,links etc by updating blog in your profile)" class="form-control" name="blog"
                    id="blogcontent" required></textarea>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="slug" id="description" placeholder="description" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>
</div>


<div class="container mt-5 mb-5">
    {% if allPosts %} {% for post in allPosts %}

    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative" style="background-color: violet;">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary mb-3">Article  by <a style="text-decoration:none;color:red;" href="/searchpeople/{{post.author}}">{{post.author|safe}}</a></strong>
            <h3 class="mb-3">
                Title: <span style="color: red;">{{post.title|safe}}</span>
            </h3>
            <div class="mb-2 text-muted">Posted on: <span style="color: seagreen;">{{post.timeStamp}}</span></div>
            <p class="mb-2 text-muted">Description: </p><span>{{post.slug|safe}}</span>
            <!--<p class="card-text mb-auto">{{post.content|safe| truncatechars:200}}</p>-->
            <div class="my-2">
                <a href="/blog/view/{{post.sno}}" role="button" class="btn btn-primary">Continue reading</a>
            </div>
            {% ifequal request.user.username post.author %}
            <div class="inlin-flex">
                <a href="/blog/view/edit/{{post.sno}}" class="btn btn-success btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm remove-blog" pid={{post.sno}}>Delete</a>
            </div>{% endifequal %}
        </div>
        <div class="col-auto d-none d-lg-block">
            <object data="{% static 'home/img/thumbnail.jpg' %}" width="200" height="250"> </object>
        </div>
    </div><br><br> {% endfor %} {% endif %}

</div>
<script>
    $('.remove-blog').click(function(e) {
        e.preventDefault();
        var post_id = $(this).attr("pid").toString();
        var eml = this
        $.ajax({
            type: "GET",
            url: "/blog/view/delete",
            data: {
                post_id: post_id
            },
            success: function(data) {
                eml.parentNode.parentNode.parentNode.remove()
            }
        })
    })
</script>
{% endblock %}